# Ignored paths and directories
## pycharm project path
.idea

## temporal __pycache__/
**/__pycache__/

## .ipynb_checkpoints/
**/.ipynb_checkpoints

## ignores vim temporal files
**/*.swp

## ignores dataset files [dataset.hdf5 #(36.42 GB)]
**/dataset.hdf5
**/*.hdf5.part